.image-container {
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .overlay {
  opacity: 1;
}
.image-container:hover {
  box-shadow: 0 0 50px rgb(17, 95, 144);
  transform: scale(1.05);
}
.transparent-background {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
